<div class="says">
<% posts.forEach(function(post, index) {
if (index % 3 == 0) { %> 
<div class="row">
<% } %>
<div class="col-md-4">
	<h2><a href="/u/<%= post.user %>" class="pull-left"><%= post.user %></a>&nbsp;言</h2>
	<p><small class="text-muted"><%= post.time %></small></p>
	<p postid=<%=post.id%>><%= post.post %></p>
	<a class="btn glyphicon glyphicon-thumbs-up" flag="up"><%=post.up%></a>
	<a class="btn glyphicon glyphicon-thumbs-down" flag="down"><%=post.down%></a>
</div>

<% if (index % 3 == 2) { %>
</div>
<% } %>

<% }) %>
<% if (posts.length % 3 != 0) { %>
</div>
<% } %>
</div>